
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetControl</title>
</head>
<body>
    <div> 
        <h2>员工</h2>
        <p>姓名：@Model.Name</p>
    </div>
</body>
</html>
