
@using WebApplication1.Models
@model Employee
@{
    Layout = null;

    Employee emp = (Employee)ViewData["EmpKey"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    
    <div>
        <h1>@Model.Name,@((string)ViewData["greeting"])!</h1>
   
        <h2>员工</h2>
        <p>姓名：@Model.Name</p>
        <p>工资：@Model.Salary.ToString("C")</p>
        @{ 
            if (Model.Salary > 1000)
            {
                <p>无敌</p>
            }
            else
            {
                <p>辣鸡</p>
            }
        }
    </div>
</body>
</html>
