
@using WebApplication1.Models;

@model Employee
    @{ 
        Layout = null;
    }


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetControl</title>
</head>
<body>
    <div> 
        <p>错的不是我，是世界！</p>
       <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1544845395&di=4792a2f949039b644a101446896150df&imgtype=jpg&er=1&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2Fa%2F58ef29a6c7e99.jpg%3Fdown" />
    </div>
</body>
</html>
