@using WebApplication1.ViewModel
@model EmployeeViewModel
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <h1>@Model.UserName</h1>
    <div> 
        
        <h2>员工</h2>
        <p>姓名:@Model.EmployeeName</p>
        <p>工资:@Model.Salary</p>        
        <p>级别:@Model.SalaryGrade</p>
    </div>
</body>
</html>
