
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YourView</title>
</head>
<body>
    <div> 
        司法司空见惯可见思考；
    </div>
</body>
</html>
